body{
	margin: 0px;
}

/* PAGE 1 */
.navbar{
    background-image: url('./assets/main-bg.jpg');
	background-color: #cccccc;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.center-text {
	position: absolute;
	left: 50%;
	top: 40%;	
	transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
}

.container-fluid{
    margin-top: -37%;
  
}
.text-link{
    color: white;

}

.text-link-special{
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

.btn-btn-primary{
    position: absolute;
    left: 46%;
    right: 41.09%;
    top: 55.07%;
    bottom: 38.68%;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
}

/*This is for "THE STORY*/
.down-text{
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    line-height: 22px;

}

/* PAGE 2 */
.text-link-games{
    color: white;
    font-weight: 400;
    font-style: normal;
    line-height: 64.39px;
    letter-spacing: 3px;
}

.text-link-features{
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    line-height: 64.39px;
    letter-spacing: 3px;
    color: white;
}

.bg{
    width: 100%;
    height: 50px;
    padding-top: 130px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-top: -37%;
}
.page2{
    background-image: url('./assets/the-games-bg.jpg');
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* PAGE 3 */
.traditional{
    color: #FFB548;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 27.6px;
    letter-spacing: 2px;
    
}
.lingkaran{
    color: white;
}
.page3{
    background-image: url('./assets/features.jpg');
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#games {
    margin-top: -70px;
}

#game-title {
    width: 30%;
}
#carousel-game {
    width: 70%;
}
#carousel-game {
    height: 200px;
    width: 500px;
}

#hero-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

#hero-text2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.center-text2 {
	position: absolute;
	left: 30%;
	top: 60%;
	color: white;
	transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}

.center-text{
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-weight: 700;
    line-height: 82.79px;
    letter-spacing: 3px;
}

/*This is for "Experience new traditional game play*/
.center-text2{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 2px;
}



/* PAGE 4 */
.page4{
    background-image: url('./assets/requirements.png');
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



.text-run{
    /* position: absolute; */
    left: 39,27%;
    right: 36,26%;
    top: 15.12%;
    bottom: 82%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

.table-model{
    width: 573.2px;
    height: 400.69px;
    top: 388.5px;
    left: 120.22px;
    /* position: absolute; */
    border: 1px solid #979797;
}

.table-text-header{
    left: 9.67;
    right: 72.19%;
    top: 42.02%;
    bottom: 55.1%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.table-text-inside{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: white;
    margin: 0px;
    padding: 0px;
}

/* PAGE 5 */
.page5{
    /* background-image: url('./assets/top-score-bg.png'); */
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
}

.text-link-topscores{
    /* position: absolute; */
    height: 153.56px;
    left: 8.15%;
    right: 63.31%;
    top: calc(50% - 153.56px/2 - 63.6px);
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-link-desc{
    /* position: absolute; */
    left: 8.33%;
    right: 65.35%;
    top: 44.34%;
    bottom: 49.72%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

/* page6 */
.page6{
    background-color: black;
    height: 100vh;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}