body{
	margin: 0px;
}

#hero{
	background-image: url(../Chapter\ 3/assets/main-bg.jpg);
	background-color: #cccccc;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

#games {
	display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background-image: url(../Chapter\ 3/assets/the-games-bg.jpg);
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#game-title {
    width: 30%;
}
#carousel-game {
    width: 70%;
}
#carousel-game {
    height: 200px;
    width: 500px;
}

#hero-text {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.center-text {
	position: absolute;
	left: 50%;
	top: 40%;	
	transform: translate(-50%, -50%);
}

#hero-text2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.center-text2 {
	position: absolute;
	left: 30%;
	top: 60%;
	color: white;
	transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}