body{
    margin: 0px;
}

/*PAGE-1 PAGE-1*/
/*This is backgrounf*/
#main{
    background-image:url(../Chapter\ 3/assets/main-bg.jpg);
    background-color: cornsilk;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.center-text{
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    transform: translate(-50%, -50%);
}

/*This is for "Experience new traditional game play*/
.center-text2{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

/*This is for "THE STORY*/
.down-text{
    position: absolute;
    left: 50%;
    top: 90%;
    color: white;
    transform: translate(-50%, -50%);
}

/*PAGE-2 PAGE-2*/
/*This is for "background cover page 2*/
#sub-main{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background-image: url(../Chapter\ 3/assets/the-games-bg.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#game-title {
    width: 100%;
    color: white;
}

#carousel-game {
    width: 70%;
}
#carousel-game {
    height: 200px;
    width: 500px;
}

/*PAGE-3 PAGE-3*/
#sub-main3{
    background-image:url(../Chapter\ 3/assets/features.jpg);
    background-color: cornsilk;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#features {
    width: 50%;
    color: white;
}

/*PAGE-4 PAGE-4*/

/*This is for "background cover page 4*/
#srequirements{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background-image:url(../Chapter\ 3/assets/requirements.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.question-text{
    position: absolute;
    left: 50%;
    top: 10%;
    color: white;
    transform: translate(-50%, -50%);
}

/*PAGE-4 PAGE-4*/

/*This is for "background cover page 4*/
#topscores{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background-image:url(../Chapter\ 3/assets/top-score-bg.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
